<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="/static/images/splash/splash-screen.png" 			media="screen and (max-device-width: 320px)" />
<link rel="apple-touch-startup-image" href="/static/images/splash/splash-screen_402x.png" 		media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
<link rel="apple-touch-startup-image" sizes="640x1096" href="/static/images/splash/splash-screen_403x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="/static/images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="/static/images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="/static/images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="/static/images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

<title>HOME PAGE</title>

<link href="/static/css/styles/style.css"     		rel="stylesheet" type="text/css">
<link href="/static/css/styles/framework.css" 		rel="stylesheet" type="text/css">
<link href="/static/css/styles/owl.carousel.css" 	 rel="stylesheet" type="text/css">
<link href="/static/css/styles/owl.theme.css" 		rel="stylesheet" type="text/css">
<link href="/static/css/styles/swipebox.css"		 rel="stylesheet" type="text/css">
<link href="/static/css/styles/colorbox.css"		 rel="stylesheet" type="text/css">


<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jqueryui.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="/static/js/colorbox.js"></script>
<script type="text/javascript" src="/static/js/snap.js"></script>
<script type="text/javascript" src="/static/js/contact.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>
<script type="text/javascript" src="/static/js/framework.js"></script>
<script type="text/javascript" src="/static/js/framework.launcher.js"></script>


</head>
<body>

<div id="preloader">
	<div id="status">
    	<p class="center-text">
			Loading the content...
            <em>Loading depends on your connection speed!</em>
        </p>
    </div>
</div>

<div class="top-deco"></div>

<div class="landing-page">
	<a class="landing-logo" href="/">
    	<img src="/static/images/misc/logo.png" alt="img">
    </a>

    <div class="decoration"></div>


    <div class="landing-navigation">
    <div class="landing-navigation-tablet-top-adjustment"></div>
    	<a href="/news">
        	<img class="nav-icon" src="/static/images/icons/misc/home.png" alt="img">
            <div class="nav-overlay"></div>
        	<img class="nav-image" src="/static/images/general-nature/1s.jpg" alt="img">
            <em>HOME</em>
        </a>
    	<a href="/cloud9">
        	<img class="nav-icon" src="/static/images/icons/misc/infoabout.png" alt="img">
            <div class="nav-overlay"></div>
        	<img class="nav-image" src="/static/images/general-nature/3s.jpg" alt="img">
            <em>CLOUD9</em>
        </a>
    	<a href="/pyspider">
        	<img class="nav-icon" src="/static/images/icons/settings/cog4.png" alt="img">
            <div class="nav-overlay"></div>
        	<img class="nav-image" src="/static/images/general-nature/2s.jpg" alt="img">
            <em>PYSPIDER</em>
        </a>
    	<a href="/contact">
        	<img class="nav-icon" src="/static/images/icons/misc/mail.png" alt="img">
            <div class="nav-overlay"></div>
        	<img class="nav-image" src="/static/images/general-nature/6s.jpg" alt="img">
            <em>CONTACT</em>
        </a>
        <div class="clear"></div>
        <div class="landing-navigation-tablet-bottom-adjustment"></div>
    </div>


    <div class="decoration"></div>

    <div class="footer">

    	<div class="socials">
            <a href="https://github.com/lsgo" class="github-icon"></a>
            <a href="#" class="weixin-icon"></a>
            <a href="#" class="jianshu-icon"></a>
        </div>
        <div class="clear"></div>
        <p class="copyright">
        	COPYRIGHT 2016.<br>
            ALL RIGHTS RESERVED
        </p>

    </div>
</div>

<div style="height:28px;"></div>
<div class="bottom-deco"></div>


</body>
</html>
